<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sktelecom.cep.dao.FlowInfoDao">

    <resultMap id="FlowInfoMap" type="com.sktelecom.cep.vo.FlowInfo">
        <!-- 실제 DB컬럼과 매핑 -->
        <result property="flowId" column="flow_id" />
        <result property="flowTitle" column="flow_title" />
        <result property="flowJsonData" column="flow_json_data" />
        <result property="appExecServerPath" column="app_exec_server_path" />        
        <result property="appId" column="app_id" />
        <result property="appStatus" column="app_status" />
        <result property="createId" column="create_id" />
        <result property="updateId" column="update_id" />
        <result property="createIdName" column="create_id_name" />
        <result property="updateIdName" column="update_id_name" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <insert id="create" parameterType="com.sktelecom.cep.vo.FlowInfo">
        INSERT INTO flow_info(flow_id, flow_title, flow_json_data, app_status, create_id, create_id_name, create_date, update_id, update_id_name, update_date)
        VALUES (#{flowId}, #{flowTitle}, #{flowJsonData}, #{appStatus}, #{createId}, #{createIdName}, now(), #{updateId}, #{updateIdName}, now())
    </insert>

    <update id="update" parameterType="com.sktelecom.cep.vo.FlowInfo">
        UPDATE flow_info
        SET 
		    flow_title = #{flowTitle}
            ,flow_json_data = #{flowJsonData}
            ,update_id = #{updateId}
            ,update_id_name = #{updateIdName}
            ,update_date = now()
        WHERE flow_id = #{flowId}
    </update>

    <delete id="delete" parameterType="com.sktelecom.cep.vo.FlowInfo">
        DELETE FROM flow_info
        WHERE flow_id = #{flowId}
    </delete>

    <select id="getInfo" parameterType="com.sktelecom.cep.vo.FlowInfo" resultMap="FlowInfoMap">
        SELECT flow_id, flow_title, flow_json_data, app_exec_server_path, app_id, app_status, create_id, create_id_name, update_id, update_id_name, create_date, update_date
        FROM flow_info
        WHERE flow_id = #{flowId}
    </select>

    <select id="getList" resultMap="FlowInfoMap" parameterType="com.sktelecom.cep.vo.FlowInfo">
        SELECT flow_id, flow_title, flow_json_data, app_exec_server_path, app_id, app_status, create_id, create_id_name, update_id, update_id_name, create_date, update_date
        FROM flow_info
        ORDER BY flow_id
        LIMIT #{beginRowNum}, #{rowsPerPage}
    </select>

    <select id="getListCount" resultType="long" parameterType="com.sktelecom.cep.vo.FlowInfo">
        SELECT count(flow_id)
        FROM flow_info
    </select>

	<!-- 
	상태변화 (201:초기상태), (100:실행요청, 101:실행성공, 102:실행실패), (200:정지요청, 201:정지성공, 202:정지실패)
	- 실행요청 가능상태: 201, 102  
	- 정지요청 가능상태: 101, 202
	-->
	<update id="updateAppStatus" parameterType="com.sktelecom.cep.vo.FlowInfo">
        UPDATE flow_info
        SET 
            app_status = #{appStatus}
        	,app_id = #{appId}
        	,app_exec_server_path = #{appExecServerPath}
            ,update_date = now()
        WHERE flow_id = #{flowId}
    </update>

</mapper>
