<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sktelecom.cep.dao.WorkspaceDao">

    <resultMap id="WorkspaceMap" type="com.sktelecom.cep.vo.Workspace">
        <result property="workspaceId" column="workspace_id" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="pId" column="p_id" />
        <result property="userId" column="user_id" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <insert id="create" parameterType="com.sktelecom.cep.vo.Workspace">
        INSERT INTO workspace(workspace_id, name, type, p_id, user_id, create_date)
        VALUES (#{workspaceId}, #{name}, #{type}, #{pId}, #{userId}, #{createDate})
    </insert>

    <update id="update" parameterType="com.sktelecom.cep.vo.Workspace">
        UPDATE workspace
        SET name = #{name}
        ,type = #{type}
        ,p_id = #{pId}
        ,user_id = #{userId}
        ,update_date = #{updateDate}
        WHERE workspace_id = #{workspaceId}
    </update>

    <delete id="delete" parameterType="com.sktelecom.cep.vo.Workspace">
        DELETE FROM workspace
        WHERE workspace_id = #{workspaceId}
    </delete>

    <select id="getInfo" parameterType="com.sktelecom.cep.vo.Workspace" resultMap="WorkspaceMap">
        SELECT workspace_id, name, type, p_id, user_id, create_date, update_date
        FROM workspace
        WHERE workspace_id = #{workspaceId}
    </select>

    <select id="getList" resultMap="WorkspaceMap" parameterType="com.sktelecom.cep.vo.Workspace">
        SELECT workspace_id, name, type, p_id, user_id, create_date, update_date
        FROM workspace
        ORDER BY name
        LIMIT #{beginRowNum}, #{rowsPerPage}
    </select>

    <select id="getListCount" resultType="long" parameterType="com.sktelecom.cep.vo.Workspace">
        SELECT count(workspace_id)
        FROM workspace
    </select>
    
    <select id="getListByType" resultMap="WorkspaceMap" parameterType="com.sktelecom.cep.vo.Workspace">
        SELECT w.workspace_id, w.name, w.type, w.p_id, w.user_id, w.create_date, w.update_date
        FROM workspace w
        WHERE type = #{type}
        <if test="userId != null and userId != ''">
          AND (w.user_id = #{userId} or p_id = 'ROOT')
        </if>
    </select>

</mapper>
