<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sktelecom.cep.dao.WorkspaceObjectDao">

    <resultMap id="WorkspaceObjectMap" type="com.sktelecom.cep.vo.WorkspaceObject">
        <result property="wrkspcObjId" column="wrkspc_obj_id" />
        <result property="wrkspcObjType" column="wrkspc_obj_type" />
        <result property="shareType" column="share_type" />
        <result property="objStatus" column="obj_status" />
        <result property="createUserId" column="create_user_id" />
        <result property="ownUserId" column="own_user_id" />
    </resultMap>

    <insert id="create" parameterType="com.sktelecom.cep.vo.WorkspaceObject">
        INSERT INTO WorkspaceObject(wrkspc_obj_id, wrkspc_obj_type, share_type, obj_status, create_user_id, own_user_id)
        VALUES (#{wrkspcObjId}, #{wrkspcObjType}, #{shareType}, #{objStatus}, #{createUserId}, #{ownUserId})
    </insert>

</mapper>
