<div class="box width-full ">
	<div class="header">
		<div class="row">
			<div class="col-md-12">
				<h3 class="new_h3" style="float: left">Account Management</h3>
			</div>
		</div>
	</div>

	<div>
		<div class="col-md-6">
			<div class="form-group" style="width: 200px">
				<b>Search Result</b> (Total <b>{{totalCount | number:0}}</b>)
			</div>
		</div>
		<div class="col-md-6 text-right">
			<span class="section-title">Row</span> <select class="input-sm" ng-model="itemsPerPage" ng-options="option for option in [10, 20, 30, 50, 80, 100]" required ng-change="initItemsPerPage()"></select>
			</li>
		</div>
	</div>
	<!--Search E -->

	<!-- Table S -->
	<table class="table table-striped table-hover">
		<colgroup>
			<col width="15%">
			<col width="15%">
			<col width="25%">
			<col width="25%">
			<col width="20%">
		</colgroup>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email(alarm)</th>
				<th>Phone Number(alarm)</th>
				<th>user authorization</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="info in list" class="btn-link" data-toggle="modal" data-target="#myModal" ng-click="viewMode(info)">
				<td class="text-center">{{info.id}}</td>
				<td class="text-center">{{info.name}}</td>
				<td class="text-center">{{info.email}}</td>
				<td class="text-center">{{info.tel}}</td>
				<td class="text-center">{{info.userGrpNm}}</td>
			</tr>
		</tbody>
	</table>
	<!-- Table E -->

	<!-- Pagination S -->
	<div id="pagingNav" class="text-center">
		<pagination total-items="totalCount" ng-model="currentPage" ng-change="pageChanged()" max-size="maxPageSize" items-per-page="itemsPerPage" first-text="처음" previous-text="이전" next-text="다음" last-text="끝"></pagination>
	</div>
	<!-- Pagination E -->

	<!-- Button S -->
	<div class="btn-line text-right">
		<button class="btn btn-white btn-default btn-bold" ng-click="getList()">
			<i class="ace-icon fa fa-search"></i> Search
		</button>
		<button class="btn btn-white btn-default btn-bold" data-toggle="modal" data-target="#myModal" ng-click="createMode()">
			<i class="ace-icon fa fa-pencil-square-o bigger-110"></i> Generation
		</button>
	</div>
	<!-- Button E -->

	<!-- 팝업 S -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content" style="padding: 0px 10px;">
				<!-- PageTitle S -->
				<div class="modal-header">
					<span class="title1">Account {{modalTitle}}</span>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<!-- PageTitle E -->

				<form name="userForm" id="userForm" class="form-horizontal" role="form" ng-submit="save()" autocomplete="off">
					<div class="form-group">
				    <label for="id" class="col-sm-4 control-label text-left">Id</label>
				    <div class="col-sm-8" ng-class="{ 'has-error': userForm.id.$invalid }">
					    <input type="text" class="form-control" ng-model="user.id" name="id" id="id" autofocus ng-disabled="mode != 'C'" required ng-minlength="2" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9]*$/"> 
					    <span class="text-danger" ng-show="userForm.id.$error.required"><small>아이디를 입력하세요.</small></span> 
					    <span class="text-danger" ng-show="userForm.id.$error.pattern"><small>아이디는 영문 또는 숫자를 입력하세요.</small></span> 
					    <span class="text-danger" ng-show="userForm.id.$error.minlength || userForm.id.$error.maxlength"><small>2자 이상 30자 이하로 입력하세요.</small></span>
					  </div>
				  </div>
				  <div class="form-group">
            <label for="name" class="col-sm-4 control-label text-left">Name</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.name.$invalid }">
              <input type="text" class="form-control view" ng-model="user.name" name="name" id="name" autofocus required ng-minlength="2" ng-maxlength="10"> 
              <span class="text-danger" ng-show="userForm.name.$error.required"><small>이름을 입력하세요.</small></span> 
              <span class="text-danger" ng-show="userForm.name.$error.minlength || userForm.name.$error.maxlength"><small>2자 이상 10자 이하로 입력하세요.</small></span>
            </div>
          </div>
          <div class="form-group">
            <label for="passwd" class="col-sm-4 control-label text-left">Password</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.passwd.$invalid }">
              <div ng-if="mode == 'C'">
                <input type="password" class="form-control" ng-model="user.passwd" name="passwd" id="passwd" required rule-password ng-minlength="3" ng-maxlength="20"> 
                <span class="text-danger" ng-show="userForm.passwd.$error.required"><small>패스워드를 입력하세요.</small></span> 
                <span class="text-danger" ng-show="!userForm.passwd.$error.required && (userForm.passwd.$error.minlength || userForm.passwd.$error.maxlength)"><small>3자 이상 20자 이하로 입력하세요.</small></span> 
                <span class="text-danger" ng-show="!userForm.passwd.$error.required && userForm.passwd.$error.rulePassword"><small>영문자, 숫자, 특수문자(_ ! @ # $ % ^ & * - .) 각각 하나 이상씩 입력하세요.</small></span>
              </div>
              <div ng-if="mode == 'U'">
                <input type="password" class="form-control" ng-model="user.passwd" name="passwd" id="passwd" rule-password ng-minlength="3" ng-maxlength="20"> 
                <span class="text-danger" ng-show="userForm.passwd.$error.minlength || userForm.passwd.$error.maxlength"><small>3자 이상 20자 이하로 입력하세요.</small></span> 
                <span class="text-danger" ng-show="userForm.passwd.$error.rulePassword"><small>영문자, 숫자, 특수문자(_ ! @ # $ % ^ & * - .) 각각 하나 이상씩 입력하세요.</small></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="passwdConfirm" class="col-sm-4 control-label text-left">Password Confirm</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.passwdConfirm.$invalid }">
              <input type="password" class="form-control" ng-model="user.passwdConfirm" name="passwdConfirm" id="passwdConfirm" reuqired data-match="user.passwd"> 
              <span class="text-danger" ng-show="userForm.passwdConfirm.$error.match"><small>비밀번호가 틀립니다.</small></span>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-4 control-label text-left">Email</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.email.$invalid }">
              <input type="email" class="form-control" ng-model="user.email" id="email" name="email" placeholder="Email"> 
              <span class="text-danger" ng-show="userForm.$error.email"><small>이메일 형식에 맞지 않습니다.</small></span>
            </div>
          </div>
          <div class="form-group">
            <label for="tel" class="col-sm-4 control-label text-left">Phone Number</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.tel.$invalid }">
              <input type="text" class="form-control view" ng-model="user.tel" id="tel" name="tel" ng-maxlength="12" ng-pattern="/^[0-9]*$/"> 
              <span class="text-danger" ng-show="userForm.tel.$error.pattern"><small>전화번호는 숫자를 입력하세요.</small></span> 
              <span class="text-danger" ng-show="userForm.tel.$error.maxlength"><small>12자 이하로 입력하세요.</small></span>
            </div>
          </div>
          <div class="form-group">
            <label for="userGrpCd" class="col-sm-4 control-label text-left">User Segmentation</label>
            <div class="col-sm-8" ng-class="{ 'has-error': userForm.userGrpCd.$invalid }">
              <select class="form-control view_selsct" ng-model="user.userGrpCd" name="userGrpCd" id="userGrpCd" ng-options="option.code as option.desc for option in userGroupCodeName" required ng-disabled="!Authentication.isAdmin()"></select>
            </div>
          </div>

					<div class="form-group text-center">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-search btn-white btn-grey" data-dismiss="modal">
								<i class="ace-icon fa fa-times red"></i> Close
							</button>
							<button type="submit" class="btn btn-search btn-white btn-grey" ng-disabled="!userForm.$valid" ng-show="mode == 'C'">
								<i class="ace-icon fa fa-pencil-square-o"></i> Register
							</button>
							<button type="submit" class="btn btn-search btn-white btn-grey" ng-disabled="!userForm.$valid" ng-show="mode == 'U'">
								<i class="ace-icon glyphicon glyphicon-pencil"></i> Update
							</button>
							<button type="button" class="btn btn-search btn-white btn-grey" ng-show="mode == 'U' && user.id != 'admin'" ng-click="deleteAction()">
								<i class="ace-icon fa fa-trash-o blue"></i> Delete
							</button>
            </div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 팝업 E -->
</div>
